.sidebarButton {
  display: flex;
  justify-content: start;
  padding-bottom: 20px;
}

.sidebarButton button {
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
 cursor: pointer;
 font-size: 20px;
}

.sidebarButton img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

